@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <p>This web application is inspired by the book, "The 7 Habits of Highly Effective People"</p>
</div>